<nav class="row no-gutters">
  <div class="header col-8">
    <ul>
      <li><a href="{% url 'tools:home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
      <li><a href="{% url 'tools:mytools' user.id %}">My Tools</a></li>
        {% endif %}
      <li><a href="{% url 'tools:users'%}">User List</a></li>
      <li><a href="{% url 'tools:list' %}">Tool List</a></li>
        {% if request.user.is_authenticated %}
      <li><a href="{% url 'tools:new' %}">Add a Tool</a></li>
        {% else %}
        {% endif %}
    </ul>
  </div>
  <div class="signin col-3">
    <ul>

      {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}

      <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
    </ul>
  </div>
</nav>
