<nav class="row no-gutters">
  <div class="header col-8">
    <ul>
      <li><a href="{% url 'tools:base.html' %}">Home</a></li>
      <li><a href="">My Tools</a></li>
      <li><a href="">User List</a></li>
      <li><a href="">Tool List</a></li>
    </ul>
  </div>
  <div class="signin col-3">
    <ul>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}

      <li><a href="{% url 'accounts:login' %}">Log In</a></li>
      {% endif %}
      <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
    </ul>
  </div>
</nav>
