{% extends 'tools/base.html' %}

{% block content %}

{% for tool in object_list %}
<div class="row no-gutters"
  <div class="col-8 offset-2">
    <div class="modal-header col-8 offset-2">
      <h3>{{ tool.name }}</h3>
      <p>{{ tool.type }}</p>
    </div>
    <div class="modal-body">
      <h6>Owned by {{ tool.owner }}</h6>
      <p>{{ tool.description }}</p>
       {% if tool.borrowed is False %}
      <p>Available to Borrow</p>
      {% else %}
      <p>Someone else is borrowing this tool</p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
