{% extends 'tools/base.html' %}

{% block content %}

{% for tool in object_list %}
<div class="row"
  <div class="col-8 offset-2">
    <div class="modal-header col-6 offset-2">
      <h3>{{ tool.name }}</h3>
      <p>{{ tool.type }}</p>
    </div>
    <div class="modal-body">
      <h6>Owned by {{ tool.owner }}</h6>
      <p>{{ tool.description }}</p>
       {% if tool.borrowed is False %}
      <a href="{% url 'tools:checkout' tool.id %}">Checkout this Tool</a>
      {% elif tool.borrowing == request.user %}
      <a href="{% url 'tools:return' tool.id %}">Return this Tool</a>
      {% else %}
      <p>Tool is checked out by {{tool.borrowing}}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
